---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Diploma from '../components/Diploma.astro';
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro';
---

<Layout title="Joaquin Spuches - Portfolio">
	<Header />
	<main class="flex flex-col  mt-28 max-w-[1128px] justify-start">
		<h1 class="pb-10 w-full">Experiencia</h1>
		<section class="flex flex-wrap	 w-full justify-center  xl:justify-start gap-[77px]">
			<Card
		image="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/prensa1.png?alt=media&token=cc95cc5c-deb7-43b4-8535-ad6600c0dec7"
		href="/"
		title="OneCoffeeFirst"
		
	/> 
		<Card
		image="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/Rectangle2.png?alt=media&token=05d6bffc-da01-49e1-87cd-ba3985e04010"
		href="/"
		title="Malewo"
		
	/> 
		<Card
		image="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/Rectangle3.png?alt=media&token=30582ad7-8907-4664-a02d-35408733632f"
		href="/"
		title="Cooperaccion landing page"
		
	/> 
		<Card
		image="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/Rectangle4.png?alt=media&token=1bede68c-2649-4fe1-9867-e6fe7ad37f8a"
		href="/"
		title="Rick and Morty api"
		
	/> 

		<Card
		image="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/Rectangle5.png?alt=media&token=44bff180-3bb7-4a20-86b9-8821c2bae531"
		href="/"
		title="BrickBreaker"
		
	/>  
		</section>
		<p class="my-8 text-sm">Desarrollador Front-end y diseñador UX/UI. Mi capacidad de aprender rápidamente es lo que me distingue. Autodidacta de nacimiento‍Soy un desarrollador Front-end apasionado por el diseño gráfico. Durante el 2021, estudié programación web full-stack en Digital House y desde entonces he enfocado mis conocimientos en el mundo del Front-end.Mi pasión por el arte y la tecnología me llevó a estudiar Artes Electrónicas en la Universidad de Tres de Febrero. En 2022, viví en Sicilia, Italia, durante 7 meses antes de mudarme a Barcelona, España, donde actualmente resido.🔙 Antes de mi mudanza, trabajé como editor de video y sonido para el programa de radio Malditos nerds en Buenos Aires. Desde entonces, he estado trabajando como freelance en proyectos de desarrollo web, principalmente en el área Front-end.😎 Actualmente, busco un trabajo fijo que me permita seguir creciendo como Web developer y contribuir a proyectos emocionantes.</p>
		<h1 class="pb-10  w-full  ">Diplomas</h1>
	<section class="flex overflow-x-scroll  gap-[77px]">
		<Diploma
		image="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/diplomaUXUI.png?alt=media&token=bcbf7b68-5406-4054-86a3-9858f7c0daf3"
		/>
		<Diploma
		image="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/diplomanext.png?alt=media&token=05a2a5ec-94a1-4066-b1b0-89e11c5f7d7e"
		/>
		<Diploma
		image="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/diplomafullstack.png?alt=media&token=c3e08e53-d82b-47cd-a614-136d6ac96c0c"
		/>
	</section>
	</main>
	<Footer/>
</Layout>

<style>
	main {
		
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	

	h1 {
		font-size: 40px;
		font-weight: 700;
		line-height: 1;
		text-align: start;
		
	}

</style>
