---
interface Props {
	title: string;
	image: string;
	href: string;
}

const { href, title, image } = Astro.props;


const url =  {
  backgroundImage: 'url(' + image + ')', 
  
  
};


---
<a   href={href}>
<li style={url}  class="w-[314px] h-[300px] max-w-[314px] list-none relative bg flex flex-col justify-end pb-8 ">
	<span class="w-[240px] h-[0.5px]  bg-white  " ></span>
	
		<h2 class=" pl-5 pt-1  text-m   leading-6 ">
			{title}
			
		</h2>
		
	
	<!-- <img src={image} class="" alt="imagen" > -->
</li></a>

<style>
	li{
		background-size:auto;
		background-repeat: no-repeat;
	}
</style>