---
---
<footer class="bg-[#5856D6] h-[120px] mx-8  px-8 rounded-sm w-full rounded-t-[18px] flex justify-around  items-end pb-8">
    <p class=" text-white">Portfolio web Joaquin Spuches | Design by me </p>
    <div class="flex gap-2">
        <a><img src="/public/github.svg" alt="github"></a>
        <a><img src="/public/linkedin.svg" alt="github"></a>
        <a><img src="/public/whatsapp.svg" alt="github"></a>
    </div>
</footer>