---
---
<footer class="bg-[#5856D6] h-[120px] mx-8  px-8 rounded-sm w-full rounded-t-[18px] flex justify-around  items-end pb-8">
    <p class=" text-white">Portfolio web Joaquin Spuches | Design by me </p>
    <div class="flex gap-2">
        <a><img src="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/github.svg?alt=media&token=4bc71571-7a2b-49f6-89bd-5a3d34e3b3e4" alt="github"></a>
        <a><img src="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/linkedin.svg?alt=media&token=ef66652d-4586-4840-8d33-111c94f55e5c" alt="github"></a>
        <a><img src="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/whatsapp.svg?alt=media&token=1fc7a27f-feed-464d-b74b-9877e37aaaf3" alt="github"></a>
    </div>
</footer>