---

---

<header class="  w-full pl-8 lg:pl-60 "  >
    <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-we-3b786.appspot.com/o/profile.png?alt=media&token=593a1412-d1e3-48f7-a163-d0e973141b7d" alt="foto perfil" >
    <div class="relative bottom-[-25px] left-10">
        <h1 class="text-white ">Full Stack Developer</h1>
        <h2 class="text-[#5856D6] text-xl">joaquinSpuches<h2>
    </div>
</header>

<style>
    header{
		display: flex;
		background-color: #5856D6;
		align-items: end;
		justify-content: start;
		
		height: 240px;
		/* padding-left: 208px; */
		border-bottom-right-radius: 18px;
		border-bottom-left-radius: 18px;

	}
	header img{
		height: 100px;
		
		bottom: -50px;
		position:relative
	}
</style>